appdirs==1.4.3
bokeh==2.4.2
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.3
contextlib2==0.6.0
cycler==0.11.0
dask==2021.12.0
distlib==0.3.0
distributed==2021.12.0
distro==1.4.0
fonttools==4.28.5
fsspec==2021.11.1
HeapDict==1.0.1
html5lib==1.0.1
idna==2.8
ipaddr==2.2.0
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
locket==0.2.1
lockfile==0.12.2
MarkupSafe==2.0.1
matplotlib==3.5.1
msgpack==0.6.2
numpy==1.21.5
packaging==20.3
pandas==1.3.5
partd==1.2.0
pep517==0.8.2
Pillow==8.4.0
progress==1.5
psutil==5.8.0
pyparsing==2.4.6
python-dateutil==2.8.2
pytoml==0.1.21
pytz==2021.3
PyYAML==6.0
requests==2.22.0
retrying==1.3.3
scikit-learn==1.0.2
scipy==1.7.3
six==1.14.0
sklearn==0.0
sortedcontainers==2.4.0
tblib==1.7.0
threadpoolctl==3.0.0
toolz==0.11.2
tornado==6.1
typing-extensions==4.0.1
urllib3==1.25.8
webencodings==0.5.1
zict==2.0.0
